---
import Code from "../icons/Code.astro";
import ProjectItem from "./SmallProjectItem.astro";
import type {IProjectItem} from "@interfaces/IProjectItem";
const projects:IProjectItem[] = [
    {
        tittle:"Twitch bot",
        description:"Twitch bot that detects when a command is written in Twitch chat and answer with a joke from an api",
        githubLink:"https://github.com/adriroca20/TwitchBot",
    }
]
---
<header id="smallProjects" class="flex content-start items-end gap-2 mb-8">
    <Code></Code>
   <h1 class="text-2xl font-bold">Small projects</h1>
</header>
<section class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-gray-800 dark:bg-gray-800">
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
    <ProjectItem  projectItemData={projects[0]}></ProjectItem>
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
    <ProjectItem projectItemData={projects[0]}></ProjectItem>
</section>